.layoutBox{
  display: block;
  height: 80%;
  width: 80%;
  box-sizing: border-box;
  margin:10%;
  border:2px solid #cff;

  &:after{
		content: '';
		display: block;
		height: 0;
		line-height: 0;
		width: 0;
		clear:both;
		visibility: hidden;
	}
}